---
const { href, src, alt, style, name } = Astro.props;
---

<a
    href={href}
    class="bg-neutral-700/10 gap-2 sm:gap-1 h-auto group flex-row sm:flex-col w-full items-center py-2 px-2 border border-neutral-700/20 rounded-lg relative inline-flex stack overflow-hidden justify-center"
    style={style}
>
    <img
        src={src}
        alt={alt}
        class="size-5 group-hover:scale-125 transition-transform duration-500"
    />
    <span class="text-xs text-foreground inline-flex font-light">{name}</span>
</a>

<style scoped>
    .stack::after {
        background-color: var(--glow-color);
        content: "";
        position: absolute;
        top: 0%;
        transform: translateY(50%);
        width: 5rem;
        height: 5rem;
        z-index: -1;
        border-radius: 100%;
        filter: blur(12px) saturate(150%);
        opacity: 0.1;
        transition: all 0.5s ease;
    }
    .stack:hover::after {
        opacity: 0.2;
        scale: 1.5;
    }
</style>
